extends layout

block content
 h1= title
 form(id='tigerForm', action="/resource/tiger", method="POST")
    div.form-group
    div(class="row g-3 align-items-center")
      div(class="col-1")
         label.tigerAttr(for='color',class="col-form-label") tiger color
      div(class="col-auto")
         input#color(type='text', name='color',class="form-control")
    div.form-group
    div(class="row g-3 align-items-center")
      div(class="col-1")
         label.tigerAttr(for='place', class="col-form-label") tiger place
      div(class="col-auto")
         input#place(type='text', name='place',class="form-control")
    div.form-group
    div(class="row g-3 align-items-center")
      div(class="col-1")
         label.tigerAttr(for='weight',class="col-form-label") tiger weight
      div(class="col-auto")
         input#weight(type='number', name='weight',class="form-control")
    input(type="submit",class="btn btn-primary")
 script.
    document.forms['tigerForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Save succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
    });
    });